*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* TBD 
reorganize CSS to be more organized, consolidate where possible */

:root {
    --primaryrgb: #720303;
    --secondaryrgb: #d2e7ff;
    --tertiaryrgb: #c5b41e;
    --bgcolor: #65655e;
    
}

body {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--bgcolor);
}

/* Variables make changing color pallete simpler*/

/* Header Content Styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(180deg, var(--primaryrgb), #250000);
    padding-top: 20px;
    padding-right: 20px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px;
    border-style: solid;
    border-color: var(--tertiaryrgb);
}

h1 {
    font-size: 200%;
    min-width: 201px;
    color: var(--secondaryrgb);
    padding: 5px;
    padding-left: 40px;
}

nav {
    color: var(--secondaryrgb);
    margin: 10px;
}

nav ul{
    display: flex;
    font-size: 125%;
}

nav a {
    text-decoration: none;
    color: var(--secondaryrgb);
    padding: 20px;
}

ul li {
    display: inline-flex;
}

.headshot { 
    height: 857px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(../images/avipng.png);
    background-size: cover;
    background-position: center;
}


main {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
    color: var(--secondaryrgb);
    margin-left: 10%;
    margin-right: 10%;
}


section > h2{
    font-size: 175%;
    text-align: right;
    padding-right: 10px;
    border-right:5px solid var(--secondaryrgb);
    border-radius: 5px;
    min-width: 150px;
}

/* flexboxes for main content, headers to the left and related content to the right */

.about-me,
.work,
.contact-me {
    display: flex;
    padding-top: 20px;
    margin: 20px;
}

/* About Me Content Styling*/
.about-me-content {
    flex: 1 1 200px;
    flex-direction: column;
    padding-left: 20px;
}

/* Work Content Styling */
.appcontent{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
}
.app,
.bigapp  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 200px;
    justify-content: center;
}

.app img {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--tertiaryrgb);
    flex: 1 1 200px;
    max-height: 225px;
}

.bigapp img {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid var(--tertiaryrgb);
    max-height: 300px;
}

.app a,
.bigapp a{
    margin: 5px;
}

.appcontent a{
    position: relative;
}

.appcontent h3{
    font-size: 150%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: var(--secondaryrgb);
    background-color: var(--tertiaryrgb);
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Contact Me Content Styling */

.contact-me h2 {
    max-width: 150px;
}

.contact-me ul li {
    padding: 40px;
    font-size: 110%;
}

.contact-me ul {
    margin: auto;
}

.contact-me a {
    text-decoration: none;
    color: var(--secondaryrgb);
}

/* Resized screen restyling */

@media screen and (max-width: 1250px){
    .main {
        margin-left: 0px;
        margin-right: 0px;
    }

    .bigapp img {
        max-width: 400px;
    }
}

@media screen and (max-width: 768px) {
    .about-me,
    .work,
    .contact-me {
        flex-direction: column;
    }   

    section > h2 {
        border-right: none;
        border-bottom: 5px solid var(--secondaryrgb);
        text-align: center;
    }

    .contact-me h2{
        max-width: none;
    }

    .contact-me ul {
        text-align: center;
    }
    .contact-me ul li {
        padding: 10px;
    }
    .appcontent {
        padding-top: 5px;
    }
    
    .appcontent img {
        max-width: 100%;
    }

    .about-me-content {
        padding-left: 0px;
        padding-top: 5px;
    }

    header {
        flex-direction: column;
        padding: 0;
    }

    header h1 {
        padding: 20px;
    }
    nav {
        background-color: var(--bgcolor);;
        min-width: 100%;
        margin: auto;
    }

    nav ul {
        justify-content: space-evenly;
    }

    nav a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .headshot {
        max-height: 500px;
    }
}